{% extends "base.html" %} 
{% load static %}
{% load i18n %}

{% block content %} 
	<header>
	<nav class="breadcrumbs">
		<ul>
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="{% url 'accounts_login' %}">{% trans "Login" %}</a></li>
		</ul>
	</nav>
	<h2>{% trans "Account Login" %}</h2>
	</header>

	<section class="main">
		<div class="inner_container">
			<h1 class="account-pages">Login</h1>
			{% include "include/messages.html" %}
			<div class="registration_login">
				<div class="registration_login_inner">		
					<div class="left">
						<p>{% trans "Please log in with your username and password." %}</p>
						<form method="post" action="">{% csrf_token %}
							<table>
									  {{ login_form }}
							</table>
							<a style="padding-left:175px;" href="{% url 'accounts_request_new_password' %}">{% trans "Forgot your password?" %}</a>
							<p></p>
							<p style="padding-left:175px;">
								<input class="orange-button" type="submit"  value="{% trans "Login" %}"  />
							</p>
						</form>
					</div>
					<p><br /><br /><br /><br /></p>
				</div>
				<p><br /><br /><br /><br /></p>
			</div>
			<p><br /><br /><br /><br /></p>
		</div>
		<p><br /><br /><br /><br /></p>
	</section>
	<aside>
        <div class="data">
			<p><a href="{% url 'accounts_register' %}">{% trans "Create an account" %}</a></p>
		</div>
	</aside>
	<p><br /></p>
{% endblock content %}
