{% extends "base.html" %} 
{% load static %}
{% load i18n %}

{% block content %} 

	<header>
		<nav class="breadcrumbs">
			<ul>
				<li><a href="/">{% trans "Home" %}</a></li>
				<li><a href="{% url 'accounts_login' %}">{% trans "Login" %}</a></li>
			</ul>
		</nav>
		<h2>{% trans "Reset Your Password" %}</h2>
	 </header>

	<section class="main">
		<div class="inner_container">
			<h1 class="account-pages">{% trans "The minimum password length is 6 characters." %}</h1>	
			<div class="registration_login">
				<div class="registration_login_inner">
					<div class="centered">
						{% include "include/messages.html" %}
						<form method="post" action="{% url 'accounts_reset_password' reset_password_key %}">
						{% csrf_token %}
							<table>
								{{ form }}
							</table>
							<input type="submit" class="orange-button" value="{% trans "Change Password" %}" />
						</form>
					</div>
						<p><br /><br /><br /><br /></p>
				</div>
					<p><br /><br /><br /><br /></p>
			</div>
				<p><br /><br /><br /><br /></p>
		</div>
			<p><br /><br /><br /><br /></p>
	</section>

{% endblock content %}






