{% load publication_extras %}


{% if publication.authors_escaped|length > 8 %}
	{% for author, author_escaped in publication.authors_escaped|slice:":8" %}
	{{ author }}
	{% endfor %}. 
{% elif publication.authors_escaped|length > 2 %}
	{% for author, author_escaped in publication.authors_escaped %}
	{% if not forloop.last %}{{ author }},{% else %} and {{ author }} {% endif %}
	{% endfor %}.
{% else %}
	{% for author, author_escaped in publication.authors_escaped %}
	{% if not forloop.last %}{{ author }},{% else %}{{ author }} {% endif %}
	{% endfor %}.
{% endif %}
{% comment %}
	{% for author, author_escaped in publication.authors_mla_escaped %}
	<a href="/publications/{{ author_escaped }}/" >{{ author }}</a>{% if not forloop.last %},{% else %}.{% endif %}
	{% endfor %}
	{% endcomment %}
"{{ publication.title|tex_parse }}."
{% if 'JOURNAL' in publication.type.type.upper %}
	<i>{% if publication.journal %}{{ publication.journal }}. {% endif %}</i>
	{% if publication.volume %}{{ publication.volume }}.{% endif %}
	{{ publication.number }}( {% if publication.season %}{{ publication.season }}.{% endif %}	
	{{ publication.year }}): 
	{% if publication.pages %}{{ publication.pages }}.{% endif %}
	{% if publication.note %}{{ publication.note }}.{% endif %}
	{% if publication.extra %}{{ publication.extra }}.{% endif %}
	{% if publication.medium %} {{ publication.medium }}. {% endif %}
	{% if publication.access_date %}{{ publication.access_date|date:"d M Y" }}.{% endif %}
	{% comment %}	
	{% if publication.series_num %}{{ publication.series_num }}.{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}.{% endif %}
	{% endcomment %}
	<br />
{% elif 'BOOK CHAPTER' in publication.type.type.upper %}
	{% if publication.translator %}Trans.&nbsp;{{ publication.translator }}.{% endif %}
	<i>{% if publication.book_title %}{{ publication.book_title }}.{% endif %}</i>
	{% if publication.edition %}{{ publication.edition  }}&nbsp;ed.{% endif %}
	{% if publication.editor %}&nbsp;Ed.&nbsp;{{ publication.edition  }}.{% endif %}
	{% if publication.series %}{{ publication.series  }}{% endif %}
	{% if publication.series_num %}{{ publication.series_num }}.{% endif %}
	{% if publication.note %}{{ publication.note }}.{% endif %}
	{% if publication.address %}{{ publication.address  }}: {% endif %}
	{% if publication.publisher %}{{ publication.publisher }},{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}.{% endif %}
	{% if publication.pages %}{{ publication.pages }}.{% endif %}
	{% if publication.medium %} {{ publication.medium }}. {% endif %}
	{% if publication.access_date %} {{ publication.access_date|date:"d M Y" }}. {% endif %}
	<br />
{% elif 'BOOK' in publication.type.type.upper %}
	<i>{% if publication.book_title %}{{ publication.book_title }}.{% endif %}</i>
	{% if publication.translator %}Trans.&nbsp;{{ publication.translator }}.{% endif %}
	{% if publication.edition %}{{ publication.edition  }}&nbsp;ed.{% endif %}
	{% if publication.address %}{{ publication.address  }}: {% endif %}
	{% if publication.publisher %}{{ publication.publisher }},{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}.{% endif %}
	{% if publication.note %}{{ publication.note }}.{% endif %}
	{% if publication.medium %} {{ publication.medium }}. {% endif %}
	{% if publication.season %}{{ publication.season }}.{% endif %}	
	{% if publication.access_date %} {{ publication.access_date|date:"d M Y" }}. {% endif %}
	<br />
{% elif 'NEWSPAPER' in publication.type.type.upper %}
	<i>{% if publication.journal %}{{ publication.journal }}{% endif %}</i>
	{% if publication.address %}[{{ publication.address  }}]{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}:{% endif %}
	{% if publication.pages %} {{ publication.pages }}. {% endif %}
	{% if publication.medium %} {{ publication.medium }}.{% endif %}
	{% if publication.access_date %} {{ publication.access_date|date:"d M Y" }}. {% endif %}
	<br />
{% elif '- NEWSPAPER' in publication.type.type.upper %}
	{% if publication.note %}{{ publication.note  }}.{% endif %}
	<i>{% if publication.journal %}{{ publication.journal }}{% endif %}</i>
	{% if publication.address %}[{{ publication.address  }}]{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}:{% endif %}
	{% if publication.pages %} {{ publication.pages }}. {% endif %}
	{% if publication.medium %} {{ publication.medium }}.{% endif %}
	{% if publication.access_date %} {{ publication.access_date|date:"d M Y" }}. {% endif %}
	<br />
{% elif '- JOURNAL' in publication.type.type.upper %}
	{% if publication.note %}{{ publication.note  }}.{% endif %}
	<i>{% if publication.journal %}{{ publication.journal }}. {% endif %}</i>
	{% if publication.volume %}{{ publication.volume }}.{% endif %}
	{{ publication.number }}( {% if publication.season %}{{ publication.season }}.{% endif %}	
	{{ publication.year }}): 
	{% if publication.pages %}{{ publication.pages }}.{% endif %}
	{% if publication.note %}{{ publication.note }}.{% endif %}
	{% if publication.extra %}{{ publication.extra }}.{% endif %}
	{% if publication.medium %} {{ publication.medium }}. {% endif %}
	{% if publication.access_date %}{{ publication.access_date|date:"d M Y" }}.{% endif %}
	{% comment %}	
	{% if publication.series_num %}{{ publication.series_num }}.{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}.{% endif %}
	{% endcomment %}
	<br />
{% elif 'BLOG' in publication.type.type.upper %}
	<i>{% if publication.journal %}{{ publication.journal }}.{% endif %}</i>
	{% if publication.publisher %}{{ publication.publisher  }},{% endif %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}.{% endif %}
	{% if publication.medium %} {{ publication.medium }}.{% endif %}
	{% if publication.access_date %} {{ publication.access_date|date:"d M Y" }}. {% endif %}
	<br />
{% elif 'TABLAS' in publication.type.type.upper %}
	{% if publication.note %}{{ publicaiton.note}}.{% endif %}
	{% if publication.journal %}<i>{{ publication.journal }}.</i>{% endif %}
	{% if publication.series_num %}{{ publication.series_num }}.{% endif %}
	{% if publication.volume %}{{ publication.volume }}.{% endif %}
	{% if publication.number %}{{ publication.number }}.{% endif %}
	{% if publication.season %}({{ publication.season }}{% endif %}		
	{% if publication.pub_date %}&nbsp;{{ publication.pub_date|date:"d M Y" }}):{% endif %}
	{% if publication.pages %} {{ publication.pages }}. {% endif %}
	{% if publication.medium %} {{ publication.medium }}. {% endif %}
	{% if publication.access_date %}{{ publication.access_date|date:"d M Y" }}.{% endif %}
	<br />
{% elif 'TIMONEL' in publication.type.type.upper %}
	{% if publication.number %}{{ publication.number }}.{% endif %}
	{% if publication.season %}({{ publication.season }}&nbsp;{% endif %}
	{{ publication.year}}).
	{% if publication.pub_date %}&nbsp;{{ publication.pub_date|date:"d M Y" }}).{% endif %}
	<br />
{% elif 'TYPESCRIPT' in publication.type.type.upper %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}).{% endif %}
	{% if publication.note %}{{ publication.note }}.{% endif %}
	{% if publication.archive %}{{ publication.archive }}.{% endif %}
	{% if publication.archive_location %}{{ publication.location }}.{% endif %}
	<br />
{% else %}
	{% if publication.pub_date %}{{ publication.pub_date|date:"d M Y" }}.{% endif %}
	{% if publication.medium %} {{ publication.medium }}. {% endif %}
	{% if publication.access_date %}{{ publication.access_date|date:"d M Y" }}.{% endif %}
	<br />
{% endif %}

{% if publication.pdf %}<a class="link" href="{{ MEDIA_URL }}{{ publication.pdf }}" target="_blank">PDF</a>,{% endif %}
{% if publication.url %}<a class="link" rel="external" href="{{ publication.url }}" target="_blank">URL</a>,{% endif %}
<a href="/publications/{{ publication.pk }}/?bibtex" target="_blank">BibTex</a><br />
{% if publication.keywords %}
	Keyword:
	{% for keyword, keyword_escaped in publication.keywords_escaped %}
		<a class="keyword" href="/publications/tag/{{ keyword_escaped }}/">{{ keyword }}</a>
	{% endfor %}
	<br />
{% endif %}

{% if publication.doi %}<a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}" target="_blank">DOI</a>,{% endif %}
{% if not publication.journal and publication.isbn %}<a class="link" rel="external" target="_blank" href="http://isbndb.com/search/all?query={{ publication.isbn }}" target="_blank">ISBN</a>,{% endif %}
{% if publication.code %}<a class="link" href="{{ publication.code }}">Code</a>{% endif %}
{% for file in publication.files %}
	<a class="link" href="{{ MEDIA_URL }}{{ file.file }}" target="_blank">{{ file.description }}</a><br />
{% endfor %}
{% for link in publication.links %}
	<a class="link" rel="external" href="{{ link.url }}" target="_blank">{{ link.description }}</a><br />
{% endfor %}

