{% extends "base.html" %}


{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}
	<div class="special_links">
		<!-- <a href="?ascii">plain text</a>, -->
		 <a href="?bibtex" target="_blank">Export in BibTex Format</a><p></p> 
	</div>
	{%if pub_type %}
	<h2>{{ pub_type }}</h2>
	<hr/>
	{% endif %}
	{% for type, publications in types %}
		{%if type %}
		<h1>{{ type }}</h1>
		<hr/>
		{% endif %}
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% include "publications/publication_tablas.html" %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}


{% endblock %}
