{% extends "base.html" %}

{% load i18n %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}
	
	<header>
		<nav class="breadcrumbs">
			<ul>
				<li><a href="/">{% trans "Home" %}</a></li>
				<li><a href="/publications">{% trans "Publications" %}</a></li>
				<li>{{ pub_type }}</li>
			</ul>
		</nav>
		<h2>{{ pub_type }}</h2>
	</header>	
	<br /> 
	{%if pub_type %}
		<h3>{{ pub_type }}</h3>
		<hr/>
	{% endif %}

	{% for year, issue in years_for_type %}
		<a href="/publications/year/{{ year }}/?issue={{ issue }}"><h3>{{ year }} ({{ issue }})</h3></a>
	{% endfor %}


{% endblock %}
