{% extends "base.html" %}

{% load i18n %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}
	
	<header>
		<nav class="breadcrumbs">
			<ul>
				<li><a href="/">{% trans "Home" %}</a></li>
				<li><a href="/publications">{% trans "Publications" %}</a></li>
				<li>{{ pub_type }}</li>
			</ul>
		</nav>
		<h2>{{ pub_type }}</h2>
	</header>	
	<p></p> 
	<div class="special_links">
		 <a href="?bibtex" target="_blank">Export in BibTex Format</a><p></p> 
	</div>
	{% for type, publications in types %}
		{%if type %}
		<h1>{{ type }}</h1>
		<hr/>
		{% endif %}
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% include "publications/publication_tablas.html" %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}


{% endblock %}
