{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}
	<div class="special_links">
		<!-- <a href="?ascii">plain text</a>, -->
		 <a href="?bibtex" target="_blank">Export in BibTex Format</a> 
	</div>
	{% for year, publications in years %}
		<a href="/publications/year/{{ year }}/?issue={{ issue }}">
			<h1>{{ year }} {% if issue %} ({{ issue }}) {% endif %}</h1></a>
		<hr/>
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% include "publications/publication_tablas.html" %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
