{% extends "admin/base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}

{% block extrahead %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/cupertino/jquery-ui.css" type="text/css" media="screen">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
{% dajaxice_js_import %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.dajax.core.js" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function() {
            if ($('body.archive-production.change-form').length) {
                $('.form-row.venue div').append($('<a href="#" id="updatestages">Update stages list</a>'));
                $('#updatestages').click(function(e) {
                    e.preventDefault();
                    Dajaxice.archive.updatestages(Dajax.process, { 'option': $('#id_venue_1').val()});
                })
            }
    })
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'CTDA site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'CTDA administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
