{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}

{% block article_header %}
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/creators">Creators</a></li>
                </ul>
            </nav>
            <img src="{{ creatorphoto }}" alt="Photo of {{ creator.display_name }}" />
            <h1>{{ creator.display_name }}</h1>
            <span>{{ creator.display_roles }}</span><br />
            <span>{% if creator.birth_date %}{{ creator.birth_date_display }}&mdash;{% endif %}{% if creator.death_date %}{{ creator.death_date_display }}{% endif %}</span>
{% endblock %}

{% block body_class %}detail{% endblock %}

{% block content %}
        <header>
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">{% trans "Home" %}</a></li>
                    <li><a href="/creators">{% trans "Creators" %}</a></li>
                    <li>{{ creator.display_name }}</li>
                </ul>
            </nav>
            <h2>{{ creator.display_name }}</h2>
        </header>
        
        <section class="main">
            <p><strong>{{ creator.display_roles }}</strong></p>
            
            {% if creator.photo %}
                <img src="" />
            {% endif %}
            {% if creator.biography %}
                {{ creator.biography|autop }}
            {% endif %}

            {% if creator.notes %}
              <h4>{% trans "Notes" %}:</h4>
              {{ creator.notes|autop }}
            {% endif %}

            {% if creator.has_works %}
            <div class="linkeditems">
              <h3>{% trans "Written texts" %}</h3>
                <ul>
                  {% for work in creator.works %}
                  <li>
                    <a href="{{ SITE_URL }}/writtenwork/{{ work.record_id }}">{{ work.record_title|safe }}</a><br />
                    <span>{{ work.function }}</span>
                    {% if work.date %}<br /><span>{{ work.date }}</span>{% endif %}
                  </li>
                  {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            {% if creator.has_productions %}
            <div class="linkeditems">
              <h3>{% trans "Productions" %}</h3>
                <ul>
                  {% for production in creator.productions %}
                  <li>
                    <a href="{{ SITE_URL }}/production/{{ production.prod_id }}">{{ production.prod_title }}</a><br />
                    <span>{{ production.role }}</span><br />
                    <span>{{ production.venue }}</span><br />
                    <span>{{ production.date_range|safe }}</span>
                  </li>
                  {% endfor %}
                </ul>
            </div>
            {% endif %}
            
        </section>

        <aside>
          <div class="data">
            <ul>
              {% if creator.nationality %}
                <li>
                  <h4>{% trans "Nationality" %}:</h4>
                  <span>{{ creator.nationality.demonym }}</span>
                </li>
              {% endif %}
              {% if creator.birth_date %}
                <li>
                  <h4>{% trans "Birth date" %}:</h4>
                  <span>{{ creator.birth_date_display }}</span>
                </li>
              {% endif %}
              {% if creator.birth_location %}
                <li>
                  <h4>{% trans "Place of birth" %}:</h4>
                  <span>{{ creator.birth_location }}</span>
                </li>
              {% endif %}
              {% if creator.death_date %}
                <li>
                  <h4>{% trans "Death date" %}:</h4>
                  <span>{{ creator.death_date_display }}</span>
                </li>
              {% endif %}
              {% if creator.death_location %}
                <li>
                  <h4>{% trans "Place of death" %}:</h4>
                  <span>{{ creator.death_location }}</span>
                </li>
              {% endif %}
              {% if creator.has_related_creators %}
                <li>
                  <h4>{% trans "Related creators" %}:</h4>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="objects">
            <div id="digitalobjects">
              {% if creator.has_digital_objects %}
              {% for obj in digital_objects %}
                <a href="/digitalobject/{{ obj.pk }}">
                {% thumbnail obj.image "210x210" crop="center" as im %}
                    <img src="{{ im.url }}" />
                {% endthumbnail %}
                <span>{{ obj.title }}</span>
                </a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
      </aside>
{% endblock %}
