{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}
{% load list_extras %}
{% load paginator %}

{% block article_header %}
        <h1>Creators{% if alpha %} &raquo; {{ alpha|upper }}{% endif %}</h1>
{% endblock %}

{% block content %}
        <header>
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">{% trans "Home" %}</a></li>
                <li>{% trans "Creators" %}</li>
            </ul>
        </nav>
        <h2>{% trans "Creators" %}</h2>
        </header>

        <ul id="random_thumbs">
        {% for obj in digital_objects %}
            <li>
                <figure>
                <a href="/digitalobject/{{ obj.pk }}">
                    {% thumbnail obj.image "210x210" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </a>
                <figcaption><a href="/creator/{{ obj.creator_id }}">{{ obj.creator_name }}</a></figcaption>
                </figure>
            </li>
        {% endfor %}
        </ul>
        
        {% alpha_list "creators" %}
        
        <table id="creators_list">
            <thead>
                <tr>
                    <th style="width:54px"></th>
                    <th style="width:50%">Name</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                {% for creator in creators_list %}
                    <tr>
                      <td>
                        {% if creator.has_images %}
                        <a href="/creator/{{ creator.id }}"><img src="{{ STATIC_URL }}images/images.png" alt="{% trans "Images available" %}" title="{% trans "Images available" %}" /></a>
                        {% endif %}
                        {% if creator.has_videos %}
                        <a href="/creator/{{ creator.id }}"><img src="{{ STATIC_URL }}images/video.png" alt="{% trans "Video available" %}" title="{% trans "Video available" %}" /></a>
                        {% endif %}
                        {% if creator.has_audio %}
                        <a href="/creator/{{ creator.id }}"><img src="{{ STATIC_URL }}images/audio.png" alt="{% trans "Audio available" %}" title="{% trans "Audio available" %}" /></a>
                        {% endif %}
                      </td>
                      <td><a href="/creator/{{creator.id}}">{{ creator.creator_name }}</a></td>
                      <td>{% if creator.display_roles %}{{ creator.display_roles }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Icons by Axialis Team: http://axialis.com -->
        
        {% if is_paginated %}
          {% paginator 3 %}
        {% endif %}
{% endblock %}
