{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}
{% load list_extras %}

{% block content %}
    <header>
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">{% trans "Home" %}</a></li>
                <li><a href="/digitalobjects">{% trans "Digital Objects" %}</a></li>
                <li>{% if types %}{% trans "Digital objects by type" %}{% else %}{% trans "Digital objects by collection" %}{% endif %}</li>
            </ul>
        </nav>
        <h2>{% if types %}{% trans "Digital objects by type" %}{% else %}{% trans "Digital objects by collection" %}{% endif %}</h2>
    </header>
    <ul id="digitalobjectslist">
      {% if types %}
      {% for type in types %}
      <li><a href="/digitalobjects/type/{{ type.slug }}">{{ type.title }}</a></li>
      {% endfor %}
      {% endif %}

      {% if collections %}
      {% for c in collections %}
      <li><a href="/digitalobjects/collection/{{ c.repository.repository_id }}{{ c.collection_id }}">{{ c.title }} ({{ c.repository.repository_id }})</a></li>
      {% endfor %}
      {% endif %}
    </ul>
    
{% endblock %}

{% block extra_js %}
{% endblock %}

