{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}
{% block article_header %}

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/digitalobjects">Digital Objects</a></li>
                </ul>
            </nav>
            <h1>{{ digital_object.title }}</h1>
{% endblock %}

{% block content %}
        <header>
          <nav class="breadcrumbs">
            <ul>
              <li><a href="/">{% trans "Home" %}</a></li>
              <li><a href="/digitalobjects">{% trans "Digital Objects" %}</a></li>
              <li>{{ digital_object.title }}</li>
            </ul>
          </nav>
          <h2>{{ digital_object.title }}</h2>
        </header>

        <section class="objectdisplay main">
                {% thumbnail digital_object.files.all.0.filepath "440" upscale=False as im %}
                <img id="largepreview" src="{{ im.url }}" alt='' style="display:block;float:none;" /><br />
                {% endthumbnail %}

                
        </section>
        
        <aside class="thumbnails">
            {% if digital_object.files.all.count > 1 %}
                <div>
                  <ul>
                {% for obj in digital_object.files.all %}
                    <li>
                        {% thumbnail obj.filepath "100x100" upscale=False crop="center" as im %}
                        <img style="cursor:pointer;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt='' title="{{ digital_object.title }}" />
                        {% endthumbnail %}
                        {% thumbnail obj.filepath "440" upscale=False as im %}
                        <span>{{ im.url }}</span>
                        {% endthumbnail %}
                    </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %} 
        </aside>
{% endblock %}

{% block extra_js %}
    <script>
        $(window).load(function() {
            $('.objectdisplay ul').isotope({
                itemSelector: 'li',
                layoutMode: 'fitRows'
            });
            
            $('.objectdisplay ul li').click(function() {
                current = $(this);
                $('#largepreview').attr('src', current.children('span').text());
            });
        });
    </script>
{% endblock %}
