{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}
{% load list_extras %}
{% load paginator %}

{% block content %}
    <header>
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">{% trans "Home" %}</a></li>
                {% if physobjtype %}
                  <li><a href="/digitalobjects">{% trans "Digital Objects" %}</a></li>
                  <li><a href="/digitalobjects/types">{% trans "By Type" %}</a></li>
                  <li>{{ physobjtype }}</li>
                {% else %}
                  <li>{% trans "Digital Objects" %}</li>
                {% endif %}
            </ul>
        </nav>
        <h2>{% if physobjtype %}{{ physobjtype }}{% else %}{% trans "Digital Objects" %}{% endif %}</h2>
    </header>
    <ul id="digitalobjectslist">
        {% for obj in digital_objects %}
            <li>
              {% if obj.digi_object_format.title == "Image" and obj.first_file %}
                {% thumbnail obj.first_file.filepath "210x210" crop="center" as im %}
                <figure>
                  <a href="/digitalobject/{{ obj.pk }}"><img src="{{ im.url }}" alt="" /></a>
                  <figcaption><img src="{{ STATIC_URL }}images/images.png" alt="{% trans "Images available" %}" title="{% trans "Images available" %}" /><a href="/digitalobject/{{ obj.pk }}">{{ obj.title }}</a></figcaption>
                </figure>
                {% endthumbnail %}
              {% endif %}
              {% if obj.digi_object_format.title == "Video recording" and obj.poster_image %}
                {% thumbnail obj.poster_image "210x210" crop="center" as im %}
                <figure>
                  <a href="/digitalobject/{{ obj.pk }}"><img src="{{ im.url }}" alt="" /></a>
                  <figcaption><img src="{{ STATIC_URL }}images/video.png" alt="{% trans "Video available" %}" title="{% trans "Video available" %}" /><a href="/digitalobject/{{ obj.pk }}">{{ obj.title }}</a></figcaption>
                </figure>
                {% endthumbnail %}
              {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if is_paginated %}
      {% paginator 3 %}
    {% endif %}
{% endblock %}

{% block extra_js %}
{% endblock %}
