{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}
{% block article_header %}

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/digitalobjects">Digital Objects</a></li>
                </ul>
            </nav>
            <h1>{{ digital_object.title }}</h1>
{% endblock %}

{% block content %}
        <header>
          <nav class="breadcrumbs">
            <ul>
              <li><a href="/">{% trans "Home" %}</a></li>
              <li><a href="/digitalobjects">{% trans "Digital Objects" %}</a></li>
              <li>{{ digital_object.title }}</li>
            </ul>
          </nav>
          <h2>{{ digital_object.title }}</h2>
        </header>

        <section class="objectdisplay main">
                {% if digital_object.digi_object_format.title == "Image" %}
                {% thumbnail digifiles.0.filepath "440" upscale=False as im %}
                <img id="largepreview" data-index="0" src="{{ im.url }}" alt='' style="display:block;float:none;" /><br />
                {% endthumbnail %}
                {% endif %}
                {% if digital_object.digi_object_format.title == "Video recording" %}
                <a id="largepreview" class="fancybox">
                  {% if digital_object.poster_image %}
                  {% thumbnail digital_object.poster_image "440" upscale=False as im %}
                    <img src="{{ im.url }}" alt="{{ digital_object.title }}" />
                  {% endthumbnail %}
                  {% else %}
                    Click to play video
                  {% endif %}
                </a>
                <style>
                  #largepreview::after {
                      content: '';
                      width: 100px;
                      height: 100px;
                      position: absolute;
                      z-index: 10;
                      display: block;
                      top: -200%;
                      left: 38%;
                      background: url('/static/css/mediaelement/bigplay.png');
                  }
                </style>
                {% endif %}


                {% if digital_object.summary %}
                {{ digital_object.summary|autop }}
                {% endif %}

                {% if digital_object.notes %}
                <h3>{% trans "Notes" %}:</h3>
                {{ digital_object.notes|autop }}
                {% endif %}

                <h3>{% trans "Object details" %}:</h3>
                <dl class="objectdata">
                  {% if digital_object.phys_object_type %}
                  <dt>{% trans "Physical object type" %}:</dt>
                  <dd>{{ digital_object.phys_object_type.title }}</dd>
                  {% endif %}
                  
                  {% if digital_object.donor %}
                  <dt>{% trans "Donor" %}:</dt>
                  <dd>{{ digital_object.donor }}</dd>
                  {% endif %}

                  {% if digital_object.sponsor_note %}
                  <dt>{% trans "Sponsor note" %}:</dt>
                  <dd>{{ digital_object.sponsor_note }}</dd>
                  {% endif %}

                  {% if digital_object.phys_obj_date %}
                  <dt>{% trans "Physical object date" %}:</dt>
                  <dd>{{ digital_object.phys_obj_date_display }}</dd>
                  {% endif %}

                  {% if digital_object.phys_obj_location %}
                  <dt>{% trans "Physical object location" %}:</dt>
                  <dd>{{ digital_object.phys_obj_location }}</dd>
                  {% endif %}

                  {% if digital_object.digi_object_format %}
                  <dt>{% trans "Digital object format" %}:</dt>
                  <dd>{{ digital_object.digi_object_format }}</dd>
                  {% endif %}

                  <dt>{% trans "Object ID" %}:</dt>
                  <dd>{{ digital_object.object_number }}</dd>
                  
                  <dt>{% trans "Collection" %}:</dt>
                  <dd>{{ digital_object.collection.title }}</dd>
                  
                  {% if digital_object.rights_holders %}
                  <dt>{% trans "Rights holders" %}:</dt>
                  <dd>{{ digital_object.rights_holders }}</dd>
                  {% endif %}
                  
                  {% if digital_object.license_type %}
                  <dt>{% trans "License" %}:</dt>
                  <dd><a href="{{ digital_object.license_type.more_info_link }}">{{ digital_object.license_type.title }}</a></dd>
                  {% endif %}
                  
                  {% if digital_object.identifier %}
                  <dt>{% trans "Identifier (e.g. ISBN, DOI)" %}:</dt>
                  <dd>{{ digital_object.identifier }}</dd>
                  {% endif %}
                  
                  {% if digital_object.marks %}
                  <dt>{% trans "Marks / inscriptions" %}:</dt>
                  <dd>{{ digital_object.marks }}</dd>
                  {% endif %}
                  
                  {% if digital_object.measurements %}
                  <dt>{% trans "Measurements" %}:</dt>
                  <dd>{{ digital_object.measurements }}</dd>
                  {% endif %}
                </dl>

                {% if digital_object.has_related_things %}
                <h3>{% trans "Related items" %}:</h3>
                {% endif %}
                {% if digital_object.related_creator.exists %}
                <h4>{% trans "Creators" %}:</h4>
                <ul>
                  {% for c in digital_object.related_creator.all %}
                  <li>
                    <a href="/creator/{{ c.pk }}">{{ c.display_name }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if digital_object.related_production.exists %}
                <h4>{% trans "Productions" %}:</h4>
                <ul>
                  {% for p in digital_object.related_production.all %}
                  <li>
                    <a href="/production/{{ p.pk }}">{{ p }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if digital_object.related_work.exists %}
                <h4>{% trans "Written works" %}:</h4>
                <ul>
                  {% for w in digital_object.related_work.all %}
                  <li>
                    <a href="/writtenwork/{{ w.pk }}">{{ w }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if digital_object.related_festival.exists %}
                <h4>{% trans "Festivals" %}:</h4>
                <ul>
                  {% for f in digital_object.related_festival.all %}
                  <li>
                    <a href="/festival/{{ f.pk }}">{{ f }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if digital_object.related_venue.exists %}
                <h4>{% trans "Venues" %}:</h4>
                <ul>
                  {% for l in digital_object.related_venue.all %}
                  <li>
                    <a href="/venue/{{ l.pk }}">{{ l }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
        </section>
        
        <aside class="thumbnails">
            {% if digital_object.files.all.count > 1 %}
                <div class="data">
                  <ul>
                {% for obj in digifiles %}
                    <li>
                        {% thumbnail obj.filepath "100x100" upscale=False crop="center" as im %}
                        <img style="cursor:pointer;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt='' title="{{ digital_object.title }}" />
                        {% endthumbnail %}
                        {% thumbnail obj.filepath "440" upscale=False as im %}
                        <span>{{ im.url }}</span>
                        {% endthumbnail %}
                    </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %} 
        </aside>
{% endblock %}

{% block extra_js %}
    <script>
        $(window).load(function() {
            {% if digital_object.digi_object_format.title == "Image" %}
            $('.thumbnails ul li').click(function() {
                var current = $(this);
                var index = $('.thumbnails ul li').index(current);
                $('#largepreview').attr('src', current.children('span').text());
                $('#largepreview').attr('data-index', index);
            });
            
            $('#largepreview').click(function() {
              $.fancybox([
                {% for obj in digifiles %}
                {% thumbnail obj.filepath "800" as im %}
                "{{ im.url }}",
                {% endthumbnail %}
                {% endfor %}
              ], {
                'type': 'image',
                'loop': false,
                'index': $('#largepreview').attr('data-index')
              });
            });
            {% else %}
            $('#largepreview').fancybox({
              content: '<video id="vid-{{digital_object.id}}" src="http://streaming.miami.edu:8080/flash/ctda/{{ digital_object.object_number }}0001001.mp4" width={% if digital_object.hi_def_video %}1280{% else %}720{% endif %} height={% if digital_object.hi_def_video %}720{% else %}480{% endif %}></video>',
              maxWidth: {% if digital_object.hi_def_video %}1310{% else %}750{% endif %},
              maxHeight: {% if digital_object.hi_def_video %}775{% else %}535{% endif %},
              afterShow: function() {
                $('#vid-{{digital_object.id}}').mediaelementplayer();
              }
            });
            {% endif %}
        });
    </script>
{% endblock %}
