{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}

{% block body_class %}detail{% endblock %}

{% block content %}
        <header>
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">{% trans "Home" %}</a></li>
                    <li><a href="/productions">{% trans "Productions" %}</a></li>
                    <li>{{ production.title }}</li>
                </ul>
            </nav>
            <h2>{{ production.title }}</h2>
        </header>

        <section class="main">
            {% if production.directing_team.exists %}
            <h3>{% trans "Directing team" %}:</h3>
            <table>
              <thead>
                <tr>
                  <th style="width:50%">{% trans "Name" %}</th>
                  <th>{% trans "Function(s)" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for member in production.all_directors %}
                    <tr>
                        <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                        <td>{{ member.functions }}</td>
                    </tr>
                {% endfor %}
                </tbody></table>
            {% endif %}

            {% if production.cast.exists %}
              <h3>{% trans "Cast" %}:</h3>
              <table>
                <thead>
                  <tr>
                    <th style="width:50%">{% trans "Name" %}</th>
                    <th>{% trans "Role(s)" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for member in production.all_cast %}
                    <tr>
                        <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                        <td>{{ member.roles }}</td>
                    </tr>
                {% endfor %}
                </tbody></table>
            {% endif %}

            {% if production.design_team.exists %}
              <h3>{% trans "Design team" %}:</h3>
              <table>
                <thead>
                  <tr>
                    <th style="width:50%">{% trans "Name" %}</th>
                    <th>{% trans "Function(s)" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in production.all_designers %}
                  <tr>
                    <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                    <td>{{ member.functions }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if production.technical_team.exists %}
              <h3>{% trans "Technical team" %}:</h3>
              <table>
                <thead>
                  <tr>
                    <th style="width:50%">{% trans "Name" %}</th>
                    <th>{% trans "Function(s)" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in production.all_techs %}
                  <tr>
                    <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                    <td>{{ member.functions }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if production.production_team.exists %}
              <h3>{% trans "Production team" %}:</h3>
              <table>
                <thead>
                  <tr>
                    <th style="width:50%">{% trans "Name" %}</th>
                    <th>{% trans "Function(s)" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in production.all_producers %}
                  <tr>
                    <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                    <td>{{ member.functions }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if production.documentation_team.exists %}
              <h3>{% trans "Documentation team" %}:</h3>
              <table>
                <thead>
                  <tr>
                    <th style="width:50%">{% trans "Name" %}</th>
                    <th>{% trans "Function(s)" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in production.all_documentation %}
                  <tr>
                    <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                    <td>{{ member.functions }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if production.advisory_team.exists %}
              <h3>{% trans "Advisory team" %}:</h3>
              <table>
                <thead>
                  <tr>
                    <th style="width:50%">{% trans "Name" %}</th>
                    <th>{% trans "Function(s)" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in production.all_advisors %}
                  <tr>
                    <td><a href="{{ SITE_URL }}/creator/{{ member.person.id }}">{{ member.person.display_name }}</a></td>
                    <td>{{ member.functions }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          {% endif %}
          
          {% if videos %}
          <hr />
          <ul class="videos">
            {% for vid in videos %}
            <li>
              <a href="#{{ vid.object_id }}" class="fancybox">
                {% if vid.poster %}
                {% thumbnail vid.poster "200x134" crop="center" as im %}
                  <img src="{{ im.url }}" alt="Link to video of {{ vid.title }}" />
                {% endthumbnail %}
                {% else %}
                  Click to play video
                {% endif %}
              </a>
              <div class="mewrapper">
                <video id="{{ vid.object_id }}" src="http://streaming.miami.edu:8080/flash/ctda/{{ vid.object_id }}0001001.mp4" width=720 height=480></video>
              </div>
              <a href="/digitalobject/{{vid.pk}}">{{ vid.title}}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}

        </section>

        <aside>
          <div class="data">
            <ul>
              {% if production.venue %}
              <li>
                <h4>{% trans "Venue" %}:</h4>
                <span><a href="/venue/{{ production.venue.pk }}">{{ production.venue }}</a></span>
              </li>
              {% endif %}
              {% if production.begin_date or production.end_date %}
              <li>
                <h4>{% trans "Production dates" %}:</h4>
                <span>{{ production.display_date_range }}</span>
              </li>
              {% endif %}
            </ul>
            <h4>{% trans "Source work(s)" %}:</h4>
            <ul>
              {% for work in production.source_work.all %}
              <li>
                <a href="/writtenwork/{{ work.pk }}">{{ work }}</a><br />
                <span>{% trans "By" %} {{ work.creators_display_links|safe }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% if digital_objects %}
          <div class="objects">
            <div id="digitalobjects">
              {% for obj in digital_objects %}
              <a href="/digitalobject/{{ obj.pk }}">
                {% thumbnail obj.image "210x210" crop="center" as im %}
                  <img src="{{ im.url }}" />
                {% endthumbnail %}
                <span>{{ obj.title }}</span>
              </a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </aside>
{% endblock %}
