{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}

{% block article_header %}
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/venues">Venues</a></li>
                </ul>
            </nav>
            <img src="{{ venuephoto }}" alt="Photo of {{ venue.title }}" />
            <h1>{{ venue.title }}</h1>
            <span>{% if venue.city %}{{ venue.city.name }}, {% if venue.city.state %}{{ venue.city.state }}, {% endif %}{% endif %}{{ venue.country.name }}</span><br />
{% endblock %}

{% block content %}
        <section class="objects">
            
        </section>
        
        <aside>
        
        </aside>
        
        <section class="data">
            <h3>Productions</h3>
            <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Directing team</th>
                    <th>Date range</th>
                </tr>
            </thead>
            <tbody>
            {% for prod in venue.productions.all %}
                <tr>
                    <td><a href="/production/{{ prod.pk }}">{{ prod.title }}</a></td>
                    <td>{{ prod.display_directors }}</td>
                    <td>{% if prod.begin_date %}{{ prod.begin_date_display }}&mdash;{% endif %}{% if prod.end_date %}{{ prod.end_date_display }}{% endif %}</td>
                </tr>
            {% empty %}
                <tr><td colspan="3">
                    No production records for this venue.
                </td></tr>
            {% endfor %}
        </section>
{% endblock %}