{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}
{% load list_extras %}
{% load paginator %}

{% block article_header %}
        <h1>Venues{% if alpha %} &raquo; {{ alpha|upper }}{% endif %}</h1>
{% endblock %}

{% block content %}
        <header>
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">{% trans "Home" %}</a></li>
                <li>{% trans "Venues" %}</li>
            </ul>
        </nav>
        <h2>{% trans "Venues" %}</h2>
        </header>
        <ul id="random_thumbs">
        {% for obj in digital_objects %}
            <li>
                <figure>
                <a href="/digitalobject/{{ obj.pk }}">
                    {% thumbnail obj.image "210x210" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </a>
                <figcaption><a href="/venue/{{ obj.loc_id }}">{{ obj.venue_title }}</a></figcaption>
                </figure>
            </li>
        {% endfor %}
        </ul>
        
        {% alpha_list "venues" %}
        
        <table id="venues_list">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {% for venue in venues_list %}
                    <tr>
                        <td><a href="/venue/{{venue.id}}">{{ venue.title }}</a></td>
                        <td>{% if venue.city %}{{ venue.city.name }}{% if venue.city.state %}, {{ venue.city.state }}{% endif %}{% endif %}</td>
                        <td>{{ venue.country.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if is_paginated %}
          {% paginator 3 %}
        {% endif %}
{% endblock %}
