{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}

{% block body_class %}detail{% endblock %}

{% block content %}
        <header>
          <nav class="breadcrumbs">
            <ul>
              <li><a href="/">{% trans "Home" %}</a></li>
              <li><a href="/writtenworks">{% trans "Written Works" %}</a></li>
              <li>{{ workrecord.title }}</li>
            </ul>
          </nav>
          <h2>{{ workrecord.title }}</h2>
        </header>

        <section class="main">
          {% if workrecord.performances.exists %}
          <div class="linkeditems">
            <h3>{% trans "Performances" %}:</h3>
            <ul>
              {% for perf in workrecord.performances.all %}
              <li>
                <a href="{{ SITE_URL }}/production/{{ perf.pk }}">{{ perf.title }}</a>
                {% if perf.display_directors %}
                <br /><span>{% trans "Directed by" %} {{ perf.display_directors_links|safe }}</span>
                {% endif %}
                {% if perf.venue %}
                <br /><span><a href="{{ SITE_URL }}/venue/{{ perf.venue.pk }}">{{ perf.venue.title }}</a></span>
                {% endif %}
                {% if perf.begin_date or perf.end_date %}
                <br /><span>{{ perf.display_date_range }}</span>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </section>
        
        <aside>
          <div class="data">
            <ul>
              {% if workrecord.title_variants %}
              <li>
                <h4>{% trans "Also known as" %}:</h4>
                <span>{{ workrecord.title_variants }}</span>
              </li>
              {% endif %}
              <li>
                <h4>{% trans "Written by" %}:</h4>
                <span>{{ workrecord.creators_display_links|safe }}</span>
              </li>
              {% if workrecord.creation_date %}
              <li>
                <h4>{% trans "Creation date" %}:</h4>
                <span>{{ workrecord.creation_date_display }}</span>
              </li>
              {% endif %}
              {% if workrecord.publication_date %}
              <li>
                <h4>{% trans "Publication date" %}:</h4>
                <span>{{ workrecord.publication_date_display }}</span>
              </li>
              {% endif %}
            </ul>
          </div>

          {% if digital_objects %}
          <div class="objects">
            <div id="digitalobjects">
              {% for obj in digital_objects %}
              <a href="/digitalobject/{{ obj.pk }}">
                {% thumbnail obj.image "210x210" crop="center" as im %}
                  <img src="{{ im.url }}" />
                {% endthumbnail %}
                <span>{{ obj.title }}</span>
              </a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </aside>
{% endblock %}
