{% extends "base.html" %}
{% load autop %}
{% load thumbnail %}
{% load i18n %}

{% block body_class %}detail{% endblock %}

{% block content %}
        <header>
          <nav class="breadcrumbs">
            <ul>
              <li><a href="/">{% trans "Home" %}</a></li>
              <li><a href="/writtenworks">{% trans "Written Works" %}</a></li>
              <li>{{ workrecord.title }}</li>
            </ul>
          </nav>
        </header>

        <section class="main">
            {% if workrecord.performances.exists %}
                <h3>Performances</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Directing team</th>
                            <th>Venue</th>
                            <th>Production dates</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for perf in workrecord.performances.all %}
                    <tr>
                        <td><a href="/production/{{ perf.pk }}">{{ perf.title }}</a></td>
                        <td>{{ perf.display_directors_links|safe }}</td>
                        <td>{% if perf.venue %}<a href="/venue/{{ perf.venue.id }}">{{ perf.venue }}</a>{% endif %}</td>
                        <td>{% if perf.begin_date %}{{ perf.begin_date_display }}&mdash;{% endif %}{% if perf.end_date %}{{ perf.end_date_display }}{% endif %}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </section>
        
        <aside>
          <div class="data">
            <ul>
              {% if workrecord.title_variants %}
              <li>
                <h4>{% trans "Also known as" %}:</h4>
                <span>{{ workrecord.title_variants }}</span>
              </li>
              {% endif %}
              <li>
                <h4>{% trans "Written by" %}:</h4>
                <span>{{ workrecord.creators_display_links|safe }}</span>
              </li>
              {% if workrecord.creation_date %}
              <li>
                <h4>{% trans "Creation date" %}:</h4>
                <span>{{ workrecord.creation_date_display }}</span>
              </li>
              {% endif %}
              {% if workrecord.publication_date %}
              <li>
                <h4>{% trans "Publication date" %}:</h4>
                <span>{{ workrecord.publication_date_display }}</span>
              </li>
              {% endif %}
        </aside>
                
{% endblock %}
