{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>

    <form id="searchform" method="get" action="/search">
        <table>
            <tbody>
                <tr>
                    <th><label for="id_q">Search:</label></th>
                    <td><input type="text" name="q" value="ana" id="id_q"></td>
                </tr>
                <tr>
                    <th><label for="id_models_0">Search In:</label></th>
                    <td>
                        <ul>
                            <li><label for="id_models_0"><input type="checkbox" {% if 'creators' in checked_boxes %}checked="checked"{% endif %} name="models" value="archive.creator" id="id_models_0"> Creators</label></li>
                            <li><label for="id_models_1"><input type="checkbox" {% if 'locations' in checked_boxes %}checked="checked"{% endif %} name="models" value="archive.location" id="id_models_1"> Locations</label></li>
                            <li><label for="id_models_2"><input type="checkbox" {% if 'productions' in checked_boxes %}checked="checked"{% endif %} name="models" value="archive.production" id="id_models_2"> Productions</label></li>
                            <li><label for="id_models_3"><input type="checkbox" {% if 'workrecords' in checked_boxes %}checked="checked"{% endif %} name="models" value="archive.workrecord" id="id_models_3"> Work records</label></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
        {% if q %}
            {% if suggestion %}
            <strong>Did you mean "<em>{{ suggestion }}</em>"?</strong>
            {% endif %}

            <h3>Testing for query "{{ q }}"</h3>

            <div id="results">
                <ul>
                    <li><a href="#creatortab">Creators ({% firstof creator_matches.count "0" %})</a></li>
                    <li><a href="#locationtab">Venues ({% firstof location_matches.count "0" %})</a></li>
                    <li><a href="#productiontab">Productions ({% firstof production_matches.count "0" %})</a></li>
                    <li><a href="#workrecordtab">Written Texts ({% firstof workrecord_matches.count "0" %})</a></li>
                </ul>
                <div id="creatortab">
                {% if creator_matches %}
                    {% for result in creator_matches %}
                        {% include "search/includes/archive/creator.html" %}
                    {% endfor %}
                {% endif %}
                </div>
                <div id="locationtab">
                {% if location_matches %}
                    {% for result in location_matches %}
                        {% include "search/includes/archive/location.html" %}
                    {% endfor %}
                {% endif %}
                </div>
                <div id="productiontab">
                {% if production_matches %}
                    {% for result in production_matches %}
                        {% include "search/includes/archive/production.html" %}
                    {% endfor %}
                {% endif %}
                </div>
                <div id="workrecordtab">
                {% if workrecord_matches %}
                    {% for result in workrecord_matches %}
                        {% include "search/includes/archive/workrecord.html" %}
                    {% endfor %}
                {% endif %}
                </div>
            </div>

            <!-- <h3>Results ({{ paginator.count }})</h3>

            {% for result in page.object_list %}
                {% if result.content_type == "archive.creator" %}
                {% include "search/includes/archive/creator.html" %}
                {% endif %}
                
                {% if result.content_type == "archive.production" %}
                {% include "search/includes/archive/production.html" %}
                {% endif %}
                
                {% if result.content_type == "archive.location" %}
                {% include "search/includes/archive/location.html" %}
                {% endif %}
                
                {% if result.content_type == "archive.workrecord" %}
                {% include "search/includes/archive/workrecord.html" %}
                {% endif %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %} -->
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}

{% block extrajs %}
    <script>
        $('document').ready(function() {
            $("#results").tabs();
        });
    </script>
{% endblock %}