{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>

    <form id="searchform" method="get" action="/search">
        <table>
            <tbody>
                <tr>
                    <th><label for="id_q">Search:</label></th>
                    <td><input type="text" name="q" value="{% firstof q '' %}" id="id_q"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
        {% if q %}
            {% if suggestion %}
            <strong>Did you mean "<em>{{ suggestion }}</em>"?</strong>
            {% endif %}

            <h3>Search results for {{ q }}</h3>

            <div id="results">
                <ul>
                    <li><a href="#creatortab">Creators ({% firstof creator_matches.count "0" %})</a></li>
                    <li><a href="#locationtab">Venues ({% firstof location_matches.count "0" %})</a></li>
                    <li><a href="#productiontab">Productions ({% firstof production_matches.count "0" %})</a></li>
                    <li><a href="#workrecordtab">Written Texts ({% firstof workrecord_matches.count "0" %})</a></li>
                </ul>
                <div id="creatortab">
                {% if creator_matches %}
                    <table><tbody>
                    {% for result in creator_matches %}
                        {% include "search/includes/archive/creator.html" %}
                    {% endfor %}
                    </tbody></table>
                {% else %}
                <h4>No matching creators for {{ q }}.</h4>
                {% endif %}
                </div>
                <div id="locationtab">
                {% if location_matches %}
                    <table><tbody>
                    {% for result in location_matches %}
                        {% include "search/includes/archive/location.html" %}
                    {% endfor %}
                    </tbody></table>
                {% else %}
                <h4>No matching venues for {{ q }}.</h4>
                {% endif %}
                </div>
                <div id="productiontab">
                {% if production_matches %}
                    <table><tbody>
                    {% for result in production_matches %}
                        {% include "search/includes/archive/production.html" %}
                    {% endfor %}
                    </tbody></table>
                {% else %}
                <h4>No matching productions for {{ q }}.</h4>
                {% endif %}
                </div>
                <div id="workrecordtab">
                {% if workrecord_matches %}
                    <table><tbody>
                    {% for result in workrecord_matches %}
                        {% include "search/includes/archive/workrecord.html" %}
                    {% endfor %}
                    </tbody></table>
                {% else %}
                <h4>No matching written texts for {{ q }}.</h4>
                {% endif %}
                </div>
            </div>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        $('document').ready(function() {
            $("#results").tabs();
            $("#results table tr:odd").css('background-color', '#deedf7');
        });
    </script>
{% endblock %}