{% extends "base.html" %}
{% block content %}
    <section id="contentblock">
        {{ flatpage.content }}
    </section>
    <figure>
        <img src="" alt="" />
        <figcaption><a href="#">Name of this photo</a></figcaption>
    </figure>
    <figure>
        <img src="" alt="" />
        <figcaption><a href="#">Name of this photo</a></figcaption>
    </figure>
    <figure>
        <img src="" alt="" />
        <figcaption><a href="#">Iphigenia Crash Land Falls on the Neon Shell That Was Once Her Heart</a></figcaption>
    </figure>

{% endblock %}
